.body {
    -fx-background-color: radial-gradient(focus-distance 0%, center 52% 52%, radius 44%, #FFAFBD, #FFC3A0);
}

.menuButton {
    -fx-font-family: Helvetica;
    -fx-text-fill: black;
    -fx-background-color: #ddd;
    -fx-border: none;
    -fx-color: black;
    -fx-font-size: 16px;
    -fx-start-margin: 20;
    -fx-end-margin: 20;
    -fx-pref-height: 60;
    -fx-pref-width: 120;
    -fx-padding: 10px 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-border-radius: 16px;
}

.menuButton:hover {
    -fx-background-color: #f1f1f1;
}

.sidebar {
    -fx-padding: 30px 0 10px 15px;
}

.logo {
    -fx-start-margin: 20;
    -fx-end-margin: 20;
    -fx-pref-height: 60;
    -fx-pref-width: 120;
    -fx-padding: 30px 0px 30px 0px;
    -fx-background-color: BLACK;
}

.pillButton {
    -fx-background-color: #ddd;
    -fx-border: none;
    -fx-color: black;
    -fx-padding: 10px 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-border-radius: 40px;
    -fx-font-family: Helvetica;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-start-margin: 20;
    -fx-end-margin: 20;
}

.pillButton:hover {
    -fx-background-color: #f1f1f1;
}

.container {
    -fx-padding: 40px 35px 35px 50px;
}

.title {
    -fx-width: 86px;
    -fx-height: 68px;
    -fx-label-padding: 0px 0 30px 0px;
    -fx-font-family: Helvetica;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-line-height: normal;
    -fx-letter-spacing: normal;
    -fx-text-align: center;
    -fx-text-fill: black;
}

.subTitle {
    -fx-font-family: Helvetica;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-line-height: normal;
    -fx-pref-width: 120;
    -fx-letter-spacing: 0.6px;
    -fx-text-align: center;
    -fx-color: #3f3f3f;
}